.header {
  z-index: 2;
  width: 84%;
  margin: 0 auto;
  height: 9rem;

  .title {
    font-size: 0.8rem;
  }
  .redCircle {
    background-color: #fc625d;
  }
  .container-circle {
    top: 50%;
    transform: translateY(-50%);
  }
  .yellowCircle {
    background-color: #fdbd41;
  }
  .greenCircle {
    background-color: #33c849;
  }
  .circle {
    height: 8px;
    width: 8px;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header {
    width: 49%;
    height: 13rem;
    .title {
      font-size: 1.5rem;
    }
    .circle {
      height: 13px;
      width: 13px;
    }
  }
}
